*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Times New Roman', Times, sans-serif;
}
.para{
    margin: 30px;
    border: 10px solid purple;
    padding: 10px;
    text-align: justify;
    word-spacing: 2px;
}
.ggh{
    margin: 30px;
    text-align:justify;
    padding: 10px;
    word-spacing: 2px;
   
}